@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background: rgb(107,103,102);
    background: linear-gradient(179deg, rgba(107,103,102,1) 0%, rgba(33,43,45,1) 100%);
}

::-webkit-scrollbar { /*esconde a scroll bar*/
    width: 0;
    background: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.agradecimento {
    text-align: center;
}

h1 {
    font-family: 'Opti';
    font-size: 3rem;
}

@font-face {
    font-family: 'Opti';
    src: url(fonts/OPTISansSerifCondensedOne.otf);
}
